* {
  padding: 0 0;
  margin: 0 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  background-color: #fffbf1;
  overflow: hidden;
  font-size: 16px;
}
#type {
  height: 50vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 8vw;
  -webkit-text-stroke: 2px #222222;
  color: transparent;
  position: relative;
  transform-style: preserve-3d;
  transform: translate3d(8%, 0px, 0px);
  text-transform: uppercase;
}
#nav {
  transform: translate3d(-50%, -50%, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg);
  transform-style: preserve-3d;
  position: absolute;
  left: 50%;
  top: 50%;
  overflow: hidden;
}
a {
  margin: 0 2vw;
  transition: all 250ms ease-in-out;
  color: transparent;
  -webkit-text-stroke: 2px #222222;
}
a:hover {
  -webkit-text-stroke: none;
  color: #222222;
}
.container {
  height: 100vh;
  transition: all 400ms ease;
}
.background {
  background-color: rgb(142, 142, 192);
  transition: all 400ms ease-in-out;
}
.font {
  color: whitesmoke;
  -webkit-text-stroke: none;
}
